﻿@model VinaVN.Models.MoViewModel
@{
    Layout = "~/Views/Shared/_managerLayout.cshtml";
}
<div id="page-title">
    <h2>Tin sai cú pháp</h2>
    <p>Danh sách tin nhắn khách hàng kiểm tra hàng giả bị sai cú pháp.</p>
</div>
<div class="panel">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div class="example-box-wrapper">
                <form class="form-horizontal" method="post" action="/Mo/ViewAllMoErrorSyntax">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số điện thoại</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Nhập số điện thoại cần kiểm tra..." })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Từ ngày </label>
                        <div class="col-sm-6">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "bootstrap-datepicker form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Đến ngày </label>
                        <div class="col-sm-6">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "bootstrap-datepicker form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align:right;">
                            &nbsp;
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-success" type="submit">Tra cứu...</button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>PinCode</th>
                        <th>Nội dung</th>
                        @*<th>Xem MT</th>*@
                        <th>Điện thoại</th>
                        <th>Keyword phụ</th>
                        <th>Trạng thái</th>
                        <th>Thời gian</th>
                        @*<th>Ngày cập nhật</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (Vina.DTO.Mo mo in Model.DataList)
                    {
                        <tr>
                            <td>@mo.ID</td>
                            <td>@mo.ExtentionProperty["PinCode"]</td>
                            <td>@mo.MoMessage</td>
                            @*<td style="text-align:center;"><a target="_blank" href="/Mt/?MoId=@mo.ID"> MT <i class="glyph-icon icon-arrow-right"></i></a></td>*@
                            <td>@mo.PhoneNumber</td>
                            <td style="text-align:center;">N/A</td>
                            <td>@mo.MoStatus.ToString()</td>
                            <td>@mo.CreatedDate</td>
                            @* <td>@mo.UpdatedDate</td>*@
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
        </div>
    </div>
</div>
@Html.Partial("~/Views/Scripts/_dateTimePicker.cshtml")
