﻿@model VinaVN.Models.PinCodeViewModel
@{
    Layout = "~/Views/Shared/_clientLayout.cshtml";
}

<div class="panel" style="min-height:350px;">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div class="example-box-wrapper">
                <form class="form-horizontal bordered-row" method="post" action="">
                    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                    {
                        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
                            @ViewBag.SuccessMessage
                        </h3>
                    }
                    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                    {
                        <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
                            @ViewBag.ErrorMessage
                        </h3>
                    }
                    <div class="form-group" style="background:#00714f;font-weight:bold;color:#ffd800;font-size:14pt;font-style:italic;padding:10px;">
                        <img src="~/Images/arrow2.png" /> Nhập các thông tin bên dưới
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="color:#FF0000;">Nhập mã pin : </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control", placeholder = "VD : 3FDG34FF..." })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="color:#FF0000;">Mã kiểm tra : </label>
                        <div class="col-sm-6">
                            <a href="@Url.Action("Index")">
                                <img alt="Captcha" src="@Url.Action("CaptchaImage", "Captcha")" />
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" style="color:#FF0000;">Nhập mã kiểm tra : </label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Captcha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Captcha, "", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align:right;">
                            &nbsp;
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-success" type="submit">Kiểm tra...</button>
                        </div>
                    </div>
                </form>
                @if (Model.DataList != null && Model.DataList.Count() > 0)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>PinCode</th>
                                <th>Nhà sản xuất</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Vina.DTO.PinCodeObj pc in Model.DataList)
                            {
                                <tr>
                                    <td>@pc.ID</td>
                                    <td>@pc.PinCode</td>
                                    <td>@pc.ExtentionProperty["FullName"]</td>
                                    <td>@pc.PinCodeStatus.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    if (Model.PinCode != null && Model.PinCode != "")
                    {
                        <table class="table table-bordered" style="text-align:center;">
                            <tr>
                                <td style="color:#ff0000;font-weight:bold;font-style:italic;text-align:center;">
                                    Mã xác thực của bạn vừa nhập không tồn tại trên hệ thống. Có thể bạn đã mua nhầm hàng kém chất lượng.
                                </td>
                            </tr>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>