﻿@model VinaVN.Models.PinCodeViewModel
@{
    Layout = "";
}
<div style="width:500px;">
    <div class="md-content">
        <h3 style="color:#ffd800;">Thêm mới PinCode</h3>
        <form class="form-horizontal bordered-row" method="post" action="/PinCode/AddPinCode">
            <fieldset>
                @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                {
                    <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
                        @ViewBag.SuccessMessage
                    </h3>
                }
                @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                {
                    <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
                        @ViewBag.ErrorMessage
                    </h3>
                }
                <div class="form-group">
                    <label class="col-sm-4 control-label">Pincode : </label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control", placeholder = "Chuỗi 10 ký tự bao gồm cả chử và số" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Block : </label>
                    <div class="col-sm-6">
                        <i class="fa"></i>
                        @Html.DropDownList("PinCodeBlockID", (SelectList)ViewBag.BlockList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4" style="text-align:right;">
                        &nbsp;
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success" type="submit">Thêm ngay</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>