﻿@{
    Layout = "";
}
@model VinaVN.Models.PinCodeBlockViewModel
<div>
    <div class="md-content">
        <h3 style="color:#ffd800;">Tạo mới block</h3>
        <div>
            <form method="post" role="form" action="/PinCode/CreateBlock" enctype="multipart/form-data" class="icon-validation">
                <div class="form-group">
                    <label class="control-label">Tên block</label>
                    <div class="input-icon right">
                        <i class="fa"></i>
                        @Html.TextBoxFor(model => model.PinCodeBlockName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group text-center">
                        <button class="btn btn-success" type="submit" name="Import" id="Import">Tạo ngay</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>