﻿@model VinaVN.Models.PinCodeGenerateCodeViewModel
@{
    Layout = "";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#KeywordID").change(function () {
            $.ajax({
                type: 'POST',
                url: '/PinCode/AjaxLoadSubKeyForAccount/',
                data: 'keywordId=' + $(this).val(),
                success: function (response) {
                    $(".subkey-content").html(response);
                    $(".subkey-content").addClass('form-group');
                },
                error: function () {

                }
            });
            //$.ajax({
            //    type: 'POST',
            //    url: '/PinCode/AjaxLoadProductTypeForAccount/',
            //    data: 'keywordId=' + $(this).val(),
            //    success: function (response) {
            //        $(".product-type-content").html(response);
            //        $(".product-type-content").addClass('form-group');
            //    },
            //    error: function () {

            //    }
            //});
        });
        
    });
</script>

<div style="width:500px;">
    <div class="md-content">
        <h3 style="color:#ffd800;">Tạo PinCode</h3>
        <form class="form-horizontal bordered-row" method="post" action="/PinCode/GenerateCode">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Chọn khách hàng : </label>
                    <div class="col-sm-6">
                        <i class="fa"></i>
                        @Html.DropDownList("KeywordID", (SelectList)ViewBag.KeywordList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="subkey-content">

                </div>
                <div class="block-list-content">

                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Số lượng mã code : </label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.TotalPinCodeGenerate, new { @class = "form-control", placeholder = "Số lượng mã muốn tạo" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Số ký tự của mã code : </label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.PinCodeLength, new { @class = "form-control", placeholder = "Số ký tự mã code sẽ tạo thường là 8" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Số ký tự serial sẽ tạo  : </label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.SerialLength, new { @class = "form-control", placeholder = "Số ký tự serial sẽ tạo thường là 12" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4" style="text-align:right;">
                        &nbsp;
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success btnaddcode" type="submit">Tạo mã code</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>