﻿@model VinaVN.Models.KeywordViewModel
@{
    Layout = "~/Views/Shared/_managerLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#Keyword").keyup(function () {
            $("#keyword-struct").html($(this).val().toUpperCase());
        });
    });
</script>

<form class="form-horizontal bordered-row" method="post" action="">
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
            @ViewBag.SuccessMessage
        </h3>
    }
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
            @ViewBag.ErrorMessage
        </h3>
    }
    <div class="form-group" style="background:#00714f;font-weight:bold;color:#ffd800;font-size:14pt;font-style:italic;padding:10px;">
        <img src="~/Images/arrow2.png" /> Thông tin Keyword
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Từ khóa : </label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control", placeholder = "VD : PT --> Cú pháp PT 3FDG34FF..." })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Cú pháp nhắn tin : </label>
        <div class="col-sm-6">
            <label class="col-sm-8 control-label" style="text-align:left;font-weight:bold;color:#ffd800"><span id="keyword-struct">PT</span> PinCode ( Vidu : PT CU2T3RMN )</label>
        </div>
    </div>
    @*<div class="form-group" style="background:#00714f;font-weight:bold;color:#ffd800;font-size:14pt;font-style:italic;padding:10px;">
        <img src="~/Images/arrow2.png" /> Thông tin tài khoản
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Tên đăng nhập : </label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control", placeholder = "Tên đăng nhập quản lý sub keyword..." })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Mật khẩu : </label>
        <div class="col-sm-6">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Mật khẩu quản lý sub keyword..." })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Điện thoại : </label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Điện thoại..." })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Email : </label>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "Email..." })
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-sm-3" style="text-align:right;">
            &nbsp;
        </div>
        <div class="col-sm-6">
            <button class="btn btn-success" type="submit">Tạo ngay...</button>
        </div>
    </div>
</form>