﻿@model VinaVN.Models.KeywordViewModel
<div id="page-title">
    <h2>Từ khóa</h2>
    <p>Danh sách keywork phụ (Cấp 2).</p>
</div>
<div class="panel">
    <div class="panel-body">
        <div class="example-box-wrapper">
            
            <div class="example-box-wrapper">
                <form class="form-horizontal" method="post" action="/SubKey">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số điện thoại</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Keyword, new { @class = "form-control", placeholder = "Nhập từ khóa cần kiểm tra..." })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align:right;">
                            &nbsp;
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-success" type="submit">Tra cứu...</button>
                        </div>
                    </div>
                </form>
            </div>
            @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
            {
                <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
                    @ViewBag.ErrorMessage
                </h3>
            }
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Quản lý</th>
                        <th>Từ khóa</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Vina.DTO.Keyword kw in Model.DataList)
                    {
                        <tr>
                            <td>@kw.ID</td>
                            <td style="text-align:center;">
                                @kw.ExtentionProperty["LoginName"] &nbsp; (ID : @kw.AccountManagerID) &nbsp; 
                                
                            </td>
                            <td>@kw.KeywordStatus</td>
                            <td>@kw.KeywordObj</td>
                            <td>@kw.CreatedDate</td>
                            <td>@kw.UpdatedDate</td>
                            <td><a href="/Keyword/AutoLogin/?suid=@kw.AccountManagerID"><i class="glyph-icon tooltip-button demo-icon icon-sign-in" title="Đăng nhập quản lý subkey" data-original-title="Đăng nhập quản lý từ khóa"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
        </div>
    </div>
</div>
