﻿<div id="page-footer" style="margin-top:25px;padding:15px;color:#ffffff;background:#00714f">
    Copyright © 2015 TMG. Đơn vị chủ quản: <b>CÔNG TY TNHH PHÁT TRIỂN KỸ THUẬT ỨNG DỤNG THIỆN MINH</b><br />
    Địa chỉ : 29/10/4 đướng số 3, P11, Q.Gò Vấp<br />
    Điện thoại : <b>(08)66801595</b><br />
    Fax: <b></b><br />
    Website : <b>www.temthienminh.vn</b><br />
    Email : <b>huy.temchonggia@gmail.com</b><br />
    Hotline: <b>0908 506 806</b>
</div>