﻿<div id="mobile-navigation">
    <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
    <a href="index-2.html" class="logo-content-small" title="MonarchUI"></a>
</div>
<div id="header-logo" style="border:#00714f 3px solid;border-radius:10px;">
    <a href="/Home" class="logo-content-big" title="MonarchUI">
        <img src="~/Content/monarch/img/logo.png" />
    </a>
    <a href="index-2.html" class="logo-content-small" title="MonarchUI">
        Monarch <i>UI</i>
        <span>The perfect solution for user interfaces</span>
    </a>
    <a id="close-sidebar" href="#" title="Close sidebar">
        <i class="glyph-icon icon-angle-left"></i>
    </a>
</div>
<div id="header-nav-left">
    @Html.Action("ShowLoginInfo", "Account")
</div><!-- #header-nav-left -->
<div id="header-nav-right">
    @*<a href="#" class="hdr-btn popover-button" title="" data-placement="bottom" data-id="#popover-search">
            <i class="glyph-icon icon-search"></i>
        </a>*@
    @*<div class="hide" id="popover-search">
            <div class="pad5A box-md">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search terms here ...">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="#">Search</a>
                    </span>
                </div>
            </div>
        </div>*@
    @*<a href="#" class="hdr-btn" id="fullscreen-btn" title="">
            <i class="glyph-icon icon-arrows-alt"></i>
        </a>
        <a href="#" class="hdr-btn sb-toggle-left" id="chatbox-btn" title="">
            <i class="glyph-icon icon-linecons-paper-plane"></i>
        </a>*@
    <div class="dropdown" id="notifications-btn">
        <a data-toggle="dropdown" href="#" title="">
            <span class="small-badge bg-yellow"></span>
            <i class="glyph-icon icon-linecons-megaphone"></i>
        </a>
        <div class="dropdown-menu box-md float-right">
            <div class="popover-title display-block clearfix pad10A">
                Thông tin
            </div>
            <div class="scrollable-content scrollable-slim-box" style="padding:20px;">
                - Trong quá trình vận hành hệ thống nếu có thắc mắc khiếu nại hoặc nâng cấp chức năng vui lòng liên hệ:
                <br /><span style="font-weight:bold;font-style:italic;color:#ff6a00;">Kinh doanh : (08)66801595 </span>
                <form class="form-horizontal bordered-row" method="post" action="/Home/SendRequest">
                    <div>
                        <label class="control-label">Nội dung phản hồi</label>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.TextArea("Message",new { @class = "form-control", placeholder = "Nội dung phản hồi..." })
                            <br /><button class="btn btn-success" type="submit">Gửi phản hồi</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="pad10A button-pane button-pane-alt text-center">

            </div>
        </div>
    </div>
    @*<div class="dropdown" id="progress-btn">
            <a data-toggle="dropdown" href="#" title="">
                <span class="small-badge bg-azure"></span>
                <i class="glyph-icon icon-linecons-params"></i>
            </a>
            <div class="dropdown-menu pad0A box-sm float-right" id="progress-dropdown">
                <div class="scrollable-content scrollable-slim-box">

                </div>
                <div class="pad5A button-pane button-pane-alt text-center">
                    <a href="#" class="btn display-block font-normal hover-green" title="View all notifications">
                        View all notifications
                    </a>
                </div>
            </div>
        </div>*@
    @*<div class="dropdown" id="cloud-btn">
            <a href="#" data-placement="bottom" class="tooltip-button sb-toggle-right" title="">
                <i class="glyph-icon icon-linecons-cloud"></i>
            </a>
        </div>
        <div class="dropdown" id="dashnav-btn">
            <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="">
                <i class="glyph-icon icon-linecons-cog"></i>
            </a>
        </div>
        <a class="header-btn" id="logout-btn" href="#" title="">
            <i class="glyph-icon icon-linecons-lock"></i>
        </a>*@
</div><!-- #header-nav-right -->
