﻿<html lang="en">
<!-- Mirrored from demo.agileui.com/monarch/demo/admin-template/login-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Mar 2015 17:09:01 GMT -->
<head>
    @*<style>
        /* Loading Spinner */
        .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
    </style>*@
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title> TMG - Hệ thống tem chống giả </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/monarch/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/monarch/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/monarch/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/monarch/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/Content/monarch/assets/images/icons/favicon.png">

    <link rel="stylesheet" type="text/css" href="/Content/monarch/assets-minified/admin-all-demo.css">
    <!-- JS Core -->
    <script type="text/javascript" src="/Content/monarch/assets-minified/js-core.js"></script>


    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>

</head>
<body>
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <style type="text/css">
        html, body {
            height: 100%;
            background: #F5F5F5;
        }
    </style>
    <div class="center-vertical">
        @RenderBody()
    </div>

    <!-- JS Demo -->
    <script type="text/javascript" src="/Content/monarch/assets-minified/admin-all-demo.js"></script>

</body>
<!-- Mirrored from demo.agileui.com/monarch/demo/admin-template/login-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Mar 2015 17:09:01 GMT -->
</html>