﻿- Chào mừng bạn đến với hệ thống chống hàng giả trên nền dịch vụ SMS <br /><br />
- Bạn đang đăng nhập với tư cách là người quản lý hệ thống.<br /><br />
- Bạn có thể theo dõi tất cả các từ khóa đang hoạt động
trên hệ thống bằng cách login tự động vào tài khoản quản lý từ khóa.
<br /><br />
<a href="/Home/ManagerPanel" class="btn" style="width:240px;background:#00714f;color:#ffffff;">Quản Lý</a>
<br /><br />
<a href="/Keyword/CreateNewKeyword" class="btn" style="width:240px;background:#00714f;color:#ffffff;">Tạo từ khóa</a>
<br /><br />
<a href="/SubKey/CreateNewSubkey" class="btn" style="width:240px;background:#00714f;color:#ffffff;">Tạo từ khóa phụ</a>
<br /><br />
<a href="/Mo/ViewAllMoErrorSyntax" class="btn" style="width:240px;background:#00714f;color:#ffffff;">Tin sai cú pháp</a>
<br /><br />
<a href="/MtConfig/ConfigDefaultWrongSyntaxMessage" class="btn" style="width:240px;background:#00714f;color:#ffffff;">Nội dung trả về khi sai cú pháp</a>
<br /><br />
<a href="/Account/Logout" class="btn" style="width:240px;background:#00714f;color:#ffffff;">Đăng xuất</a>