﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model VinaVN.Models.AccountModel

<div class="center-content">
    <div class="col-md-6 center-margin">
        <h3 class="text-center pad15B font-gray text-transform-upr font-size-23">
            <img src="/Content/monarch/img/logo.png" style="width:300px" />
        </h3>
        <h3 style="text-align:center;color:#ff6a00;font-weight:bold;font-style:italic;">
            HỆ THỐNG XÁC THỰC TEM CHỐNG GIẢ - TMG
            <br />ĐƠN VỊ CUNG CẤP TEM CHỐNG GIẢ UY TÍNH CHẤT LƯỢNG
        </h3>
        <div class="content-box border-top border-red clearfix">
            <div class="content-box-wrapper">
                <form id="login-validation" class="col-md-7" method="post">
                    <div id="login-form">
                        <div class="pad20A">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên đăng nhập:</label>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon addon-inside bg-white font-primary">
                                        <i class="glyph-icon icon-envelope-o"></i>
                                    </span>
                                    @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control", placeholder="Nhập tên đăng nhập" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mật khẩu:</label>
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon addon-inside bg-white font-primary">
                                        <i class="glyph-icon icon-unlock-alt"></i>
                                    </span>
                                    @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", placeholder = "Nhập mật khẩu" })
                                </div>
                            </div>
                            <div class="row mrg15B">
                                <div class="checkbox-primary col-md-10" style="height: 20px;">
                                    <label>
                                        <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                                        Ghi nhớ mật khẩu
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-blue-alt">Đăng nhập</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-4 float-right" style="height: 287px;">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="mrg10A"></div>
                            <a href="/Checking" class="btn btn-block btn-md bg-green">
                                <span class="button-content">
                                    Kiểm tra trực tuyến
                                </span>
                            </a>
                            <div class="mrg10A"></div>
                            <a href="#" class="btn btn-block btn-md bg-facebook">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-facebook"></i>
                                </span>
                                <span class="button-content">
                                    Facebook
                                </span>
                            </a>
                            <div class="mrg10A"></div>
                            <a href="#" class="btn btn-block btn-md bg-twitter">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-twitter"></i>
                                </span>
                                <span class="button-content">
                                    Twitter
                                </span>
                            </a>
                            <div class="mrg10A"></div>
                            <a href="#" class="btn btn-block btn-md bg-google">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-google-plus"></i>
                                </span>
                                <span class="button-content">
                                    Google+
                                </span>
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>