﻿@{
    Layout = "";
    Vina.DTO.Account currentLogin = ViewBag.AccountLogin;
}
<div class="user-account-btn dropdown">
    <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
        <img width="28" src="~/Content/monarch/img/manager.png" alt="Profile image">
        <span>@currentLogin.LoginName</span>
        <i class="glyph-icon icon-angle-down"></i>
    </a>
    <div class="dropdown-menu float-left">
        <div class="box-sm">
            <div class="login-box clearfix">
                <div class="user-img">
                    <a href="#" title="" class="change-img">Đổi mật khẩu</a>
                    <img src="~/Content/monarch/img/manager.png" alt="">
                </div>
                <div class="user-info">
                    <span>
                        @currentLogin.LoginName
                        <i>@currentLogin.FullName</i>
                    </span>
                    <a href="/Account/ChangePassword" title="Đổi mật khẩu">Đổi mật khẩu</a>
                </div>
            </div>
            <div class="divider"></div>
           
            <div class="pad5A button-pane button-pane-alt text-center">
                <a href="/Account/Logout" class="btn display-block font-normal btn-danger">
                    <i class="glyph-icon icon-power-off"></i>
                    Đăng xuất
                </a>
            </div>
        </div>
    </div>
</div>