﻿@model VinaVN.Models.MtViewModel
<div id="page-title">
    <h2>TIN NHẮN TRẢ VỀ</h2>
    <p>Danh sách tin nhắn trả lại cho khách hàng kiểm tra hàng giả.</p>
</div>
<div class="panel" style="min-height:350px;">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div class="example-box-wrapper">
                <form class="form-horizontal" method="post" action="/Mt">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số điện thoại</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Nhập số điện thoại cần kiểm tra..." })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Từ ngày </label>
                        <div class="col-sm-6">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "bootstrap-datepicker form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Đến ngày </label>
                        <div class="col-sm-6">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "bootstrap-datepicker form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align:right;">
                            &nbsp;
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-success" type="submit">Tra cứu...</button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Xem MO</th>
                        <th>Nội dung</th>
                        <th>Điện thoại</th>
                        <th>Thời gian</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Vina.DTO.Mt mt in Model.DataList)
                    {
                        <tr>
                            <td>@mt.ID</td>
                            <td><a target="_blank" href="/Mo/?moId=@mt.MoID"> MO <i class="glyph-icon icon-arrow-right"></i> </a> </td>
                            <td>@mt.MtMessage</td>
                            <td>@mt.PhoneNumber</td>
                            <td>@mt.CreatedDate</td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
        </div>
    </div>
</div>
@Html.Partial("~/Views/Scripts/_dateTimePicker.cshtml")

