﻿<div id="page-title">
    <h2>HỆ THỐNG KIỂM TRA TEM</h2>
    <p>Chào mừng đến với hệ thống quản lý kiểm tra tem thông qua SMS.</p>
    @*<div id="theme-options" class="admin-options">
            @Html.Partial("_ThemeOption")
        </div>*@
</div>
<div class="row" style="margin-bottom:165px;">
    <div class="col-md-4">
        <div class="dashboard-box dashboard-box-chart bg-white content-box">
            <div class="content-wrapper">
                <div class="header">
                    @ViewBag.MoCount lượt nhắn
                    <span>Tổng số SMS khách hàng nhắn kiểm tra tem tính đến @DateTime.Now</span>
                </div>
            </div>
            <div class="button-pane">
                <div class="size-md float-left">
                    <a href="/Mo" title="">
                        MO
                    </a>
                </div>
                <a href="/Mo" class="btn btn-info float-right tooltip-button" data-placement="top" title="View details">
                    <i class="glyph-icon icon-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dashboard-box dashboard-box-chart bg-white content-box">
            <div class="content-wrapper">
                <div class="header">
                    @ViewBag.PinCodeCount
                    <span>Tổng số Pincode hiện có trên hệ thống tính đến @DateTime.Now</span>
                </div>
            </div>
            <div class="button-pane">
                <div class="size-md float-left ">
                    <a href="/PinCode" title="">
                        PIN CODE
                    </a>
                </div>
                <a href="/PinCode" class="btn btn-azure float-right tooltip-button" data-placement="top" title="View details">
                    <i class="glyph-icon icon-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dashboard-box dashboard-box-chart bg-white content-box">
            <div class="content-wrapper">
                <div class="header">
                    @ViewBag.PinCodeIsUsedCount
                    <span>Tổng số Pin code đã được sử dụng tính đến @DateTime.Now</span>
                </div>
            </div>
            <div class="button-pane">
                <div class="size-md float-left">
                    <a href="/PinCode/?PinCodeStatus=2" title="">
                        Pin Code đã dùng
                    </a>
                </div>
                <a href="/PinCode/?PinCodeStatus=2" class="btn btn-warning float-right tooltip-button" data-placement="top" title="View details">
                    <i class="glyph-icon icon-caret-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>