﻿@{
    Layout = "~/Views/Shared/_managerLayout.cshtml";
    List<Vina.DTO.SubKey> listSubkey = ViewBag.ListSubKey;
}

@*<script type="text/javascript">
        $(document).ready(function () {
            $('.show-caption').hover(function () {
                var accId = $(this).attr("accountid");
                $('#span-subkey-' + accId).show();
            });
            $('.show-caption').mouseleave(function () {
                var accId = $(this).attr("accountid");
                $('#span-subkey-' + accId).hide();
            });
        });
    </script>*@

<div class="example-box-wrapper border-azure">
   
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
            @ViewBag.SuccessMessage
        </h3>
    }
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
            @ViewBag.ErrorMessage
        </h3>
    }
    @*<div>
        <a href="/SubKey/CreateNewSubKey" class="btn btn-success">Thêm mới Subkey</a>
    </div>*@
    @*<hr />*@
    <div class="content-box  dashboard-buttons clearfix" style="text-align:center;min-height:300px;padding-top:20px;padding-bottom:60px;">
        @if (listSubkey != null)
        {
            if (listSubkey.Count() > 0)
            {
                foreach (Vina.DTO.SubKey key in listSubkey)
                {
                    <span id="subkey-@key.AccountManagerID" accountid="@key.AccountManagerID" class="btn vertical-button border-black  show-caption" title="" style="width:300px;height:300px;margin:20px;">
                        <span class="glyph-icon icon-separator-vertical">
                            <img src="~/Content/monarch/img/keyword2.jpg" style="width:110px;height:110px;" />
                        </span>
                        <span class="button-content">
                            <span style="font-style:italic;font-weight:bold;font-size:16pt;">SubKey : @key.SubKeyValue </span><br />
                            <span style="font-style:italic;font-weight:bold;font-size:12pt;">
                                Quản lý : @key.ExtentionProperty["LoginName"] 
                            </span><br />
                            <span style="font-weight:bold;font-size:12pt;">
                                Keyword : @key.ExtentionProperty["KeywordValue"]
                            </span><br />
                            @if (key.SubKeyStatus == Utility.SubKeyStatus.DeActive)
                            {
                                <span style="font-style:italic;font-weight:bold;font-size:16pt;color:#ff0000;text-decoration:line-through">
                                    @("Ngưng kích hoạt")
                                </span>
                            }
                            else
                            {
                                <span style="font-style:italic;font-weight:bold;font-size:16pt;color:#00ff21;">
                                    @("Kích hoạt")
                                </span>
                            }
                            <br />
                            <div id="span-subkey-@key.AccountManagerID" style="color:#ff0000;font-weight:bold;text-decoration:underline;padding-left:30px;">
                                <a href="/SubKey/ChangeStatus/?suId=@key.ID&status=@((int)Utility.SubKeyStatus.Active)"><i class="glyph-icon tooltip-button demo-icon icon-check" title="Kích hoạt" data-original-title="Kích hoạt"></i></a>
                                <a href="/SubKey/ChangeStatus/?suId=@key.ID&status=@((int)Utility.SubKeyStatus.DeActive)"><i class="glyph-icon tooltip-button demo-icon icon-close" title="Ngưng kích hoạt" data-original-title="Ngưng kích hoạt"></i></a>
                                <a href="/SubKey/ChangeStatus/?suId=@key.ID&status=@((int)Utility.SubKeyStatus.Deleted)"><i class="glyph-icon tooltip-button demo-icon icon-recycle" title="Xóa" data-original-title="Xóa"></i></a>
                                <a href="/SubKey/AutoLogin/?suId=@key.AccountManagerID"><i class="glyph-icon tooltip-button demo-icon icon-eye" title="Đăng nhập tự động" data-original-title="Đăng nhập tự động"></i></a>
                            </div>
                        </span>
                    </span>
                }
            }
        }
    </div>
</div>
