﻿@model ViNaVN.Models.ProductTypeViewModel
@{
    Layout = "";
}
<div style="width:500px;">
    <div class="md-content">
        <h3 style="color:#ffd800;">Thêm mới loại sản phẩm</h3>
        <form class="form-horizontal bordered-row" method="post" action="/ProductType/Add">
            <div class="form-group">
                <label class="col-sm-4 control-label">Tên loại : </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.ProductTypeName, new { @class = "form-control", placeholder = "" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Từ khóa : </label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.ProductTypeKey, new { @class = "form-control", placeholder = "Viết hoa không dấu liền nhau. VD : NFK" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4" style="text-align:right;">
                    &nbsp;
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-success" type="submit">Thêm ngay</button>
                </div>
            </div>
        </form>
    </div>
</div>