﻿@using VinaVN.Code
@model ViNaVN.Models.ProductTypeViewModel

<div id="page-title">
    <h2>Mặt hàng</h2>
    <p>Danh muc sản phẩm.</p>
</div>
<div class="panel" style="min-height:350px;">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div class="example-box-wrapper">
                @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
                {
                    <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
                        @ViewBag.SuccessMessage
                    </h3>
                }
                @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                {
                    <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
                        @ViewBag.ErrorMessage
                    </h3>
                }
                <form class="form-horizontal" method="post" action="/ProductType">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tên danh mục</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.ProductTypeName, new { @class = "form-control", placeholder = "Nhập tên danh mục cần tra cứu..." })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Từ khóa danh mục</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.ProductTypeKey, new { @class = "form-control", placeholder = "Nhập từ khóa cần tra cứu..." })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Trạng thái</label>
                        <div class="col-sm-6">
                            @Html.EnumDropDownListFor(model => model.ProductTypeStatus, null, true, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align:right;">
                            &nbsp;
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-success" type="submit">Tra cứu...</button>
                        </div>
                    </div>
                </form>
            </div>
            <a href="/ProductType/Add" class="btn btn-alt btn-hover btn-info fancybox fancybox.ajax">Thêm mới &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="glyph-icon icon-arrow-right"></i></a> &nbsp;
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Từ khóa nhắn tin</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DataList != null && Model.DataList.Count() > 0)
                    {
                        foreach (Vina.DTO.ProductType pt in Model.DataList)
                        {
                            <tr>
                                <td>@pt.ID</td>
                                <td>@pt.ProductTypeName</td>
                                <td>@pt.ProductTypeKey</td>
                                <td>@pt.ProductTypeStatus.ToString()</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", pt.CreatedDate)</td>
                                <td>@String.Format("{0:dd/MM/yyyy}", pt.UpdatedDate)</td>
                                <td>
                                    @if (pt.ProductTypeStatus == Utility.ProductTypeStatus.Active)
                                    {
                                        <a href="/ProductType/Deactive/?pid=@pt.ID" data-original-title="Khóa danh mục này" class="glyph-icon demo-icon tooltip-button icon-minus-circle"></a>
                                    }
                                    else
                                    {
                                        <a href="/ProductType/Active/?pid=@pt.ID" data-original-title="Kích hoạt danh mục này" class="glyph-icon tooltip-button demo-icon icon-check"></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
        </div>
    </div>
</div>
@Html.Partial("~/Views/Scripts/_dateTimePicker.cshtml")
